nav
  .nav-wrapper
    a.brand-logo(ui-sref='app.home') Android Generator
    ul#nav-mobile.right.hide-on-med-and-down
      li
        a(ui-sref='app.vc') View Controller
      li
        a(href='app.m') Model
