<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery/dist/jquery.min.js"></script>
    <script src="/js/dependencies/angular/angular.min.js"></script>
    <script src="/js/dependencies/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/js/dependencies/angular-animate/angular-animate.min.js"></script>
    <script src="/js/dependencies/angular-materialize/src/angular-materialize.js"></script>
    <script src="/js/dependencies/angular-animate/angular-animate.js"></script>
    <script src="/js/dependencies/angular-animate/index.js"></script>
    <script src="/js/dependencies/angular-materialize/js/app.js"></script>
    <script src="/js/dependencies/angular-materialize/src/index.js"></script>
    <script src="/js/dependencies/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/js/dependencies/angular-ui-router/src/common.js"></script>
    <script src="/js/dependencies/angular-ui-router/src/resolve.js"></script>
    <script src="/js/dependencies/angular-ui-router/src/state.js"></script>
    <script src="/js/dependencies/angular-ui-router/src/stateDirectives.js"></script>
    <script src="/js/dependencies/angular-ui-router/src/stateFilters.js"></script>
    <script src="/js/dependencies/angular-ui-router/src/templateFactory.js"></script>
    <script src="/js/dependencies/angular-ui-router/src/urlMatcherFactory.js"></script>
    <script src="/js/dependencies/angular-ui-router/src/urlRouter.js"></script>
    <script src="/js/dependencies/angular-ui-router/src/view.js"></script>
    <script src="/js/dependencies/angular-ui-router/src/viewDirective.js"></script>
    <script src="/js/dependencies/angular-ui-router/src/viewScroll.js"></script>
    <script src="/js/dependencies/angular/angular.js"></script>
    <script src="/js/dependencies/angular/index.js"></script>
    <script src="/js/dependencies/jquery/Gruntfile.js"></script>
    <script src="/js/dependencies/jquery/build/release.js"></script>
    <script src="/js/dependencies/jquery/build/release/cdn.js"></script>
    <script src="/js/dependencies/jquery/build/release/dist.js"></script>
    <script src="/js/dependencies/jquery/build/release/ensure-sizzle.js"></script>
    <script src="/js/dependencies/jquery/build/tasks/build.js"></script>
    <script src="/js/dependencies/jquery/build/tasks/dist.js"></script>
    <script src="/js/dependencies/jquery/build/tasks/install_old_jsdom.js"></script>
    <script src="/js/dependencies/jquery/build/tasks/lib/spawn_test.js"></script>
    <script src="/js/dependencies/jquery/build/tasks/node_smoke_tests.js"></script>
    <script src="/js/dependencies/jquery/build/tasks/promises_aplus_tests.js"></script>
    <script src="/js/dependencies/jquery/build/tasks/sourcemap.js"></script>
    <script src="/js/dependencies/jquery/build/tasks/testswarm.js"></script>
    <script src="/js/dependencies/jquery/dist/jquery.js"></script>
    <script src="/js/dependencies/jquery/external/npo/npo.js"></script>
    <script src="/js/dependencies/jquery/external/qunit-assert-step/qunit-assert-step.js"></script>
    <script src="/js/dependencies/jquery/external/qunit/qunit.js"></script>
    <script src="/js/dependencies/jquery/external/requirejs/require.js"></script>
    <script src="/js/dependencies/jquery/external/sinon/sinon-1.14.1.js"></script>
    <script src="/js/dependencies/jquery/external/sizzle/dist/sizzle.js"></script>
    <script src="/js/dependencies/jquery/external/sizzle/dist/sizzle.min.js"></script>
    <script src="/js/dependencies/jquery/src/ajax.js"></script>
    <script src="/js/dependencies/jquery/src/ajax/jsonp.js"></script>
    <script src="/js/dependencies/jquery/src/ajax/load.js"></script>
    <script src="/js/dependencies/jquery/src/ajax/parseJSON.js"></script>
    <script src="/js/dependencies/jquery/src/ajax/parseXML.js"></script>
    <script src="/js/dependencies/jquery/src/ajax/script.js"></script>
    <script src="/js/dependencies/jquery/src/ajax/var/location.js"></script>
    <script src="/js/dependencies/jquery/src/ajax/var/nonce.js"></script>
    <script src="/js/dependencies/jquery/src/ajax/var/rquery.js"></script>
    <script src="/js/dependencies/jquery/src/ajax/xhr.js"></script>
    <script src="/js/dependencies/jquery/src/attributes.js"></script>
    <script src="/js/dependencies/jquery/src/attributes/attr.js"></script>
    <script src="/js/dependencies/jquery/src/attributes/classes.js"></script>
    <script src="/js/dependencies/jquery/src/attributes/prop.js"></script>
    <script src="/js/dependencies/jquery/src/attributes/support.js"></script>
    <script src="/js/dependencies/jquery/src/attributes/val.js"></script>
    <script src="/js/dependencies/jquery/src/callbacks.js"></script>
    <script src="/js/dependencies/jquery/src/core.js"></script>
    <script src="/js/dependencies/jquery/src/core/access.js"></script>
    <script src="/js/dependencies/jquery/src/core/init.js"></script>
    <script src="/js/dependencies/jquery/src/core/parseHTML.js"></script>
    <script src="/js/dependencies/jquery/src/core/ready.js"></script>
    <script src="/js/dependencies/jquery/src/core/support.js"></script>
    <script src="/js/dependencies/jquery/src/core/var/rsingleTag.js"></script>
    <script src="/js/dependencies/jquery/src/css.js"></script>
    <script src="/js/dependencies/jquery/src/css/addGetHookIf.js"></script>
    <script src="/js/dependencies/jquery/src/css/adjustCSS.js"></script>
    <script src="/js/dependencies/jquery/src/css/curCSS.js"></script>
    <script src="/js/dependencies/jquery/src/css/defaultDisplay.js"></script>
    <script src="/js/dependencies/jquery/src/css/hiddenVisibleSelectors.js"></script>
    <script src="/js/dependencies/jquery/src/css/showHide.js"></script>
    <script src="/js/dependencies/jquery/src/css/support.js"></script>
    <script src="/js/dependencies/jquery/src/css/var/cssExpand.js"></script>
    <script src="/js/dependencies/jquery/src/css/var/getStyles.js"></script>
    <script src="/js/dependencies/jquery/src/css/var/isHidden.js"></script>
    <script src="/js/dependencies/jquery/src/css/var/rmargin.js"></script>
    <script src="/js/dependencies/jquery/src/css/var/rnumnonpx.js"></script>
    <script src="/js/dependencies/jquery/src/css/var/swap.js"></script>
    <script src="/js/dependencies/jquery/src/data.js"></script>
    <script src="/js/dependencies/jquery/src/data/Data.js"></script>
    <script src="/js/dependencies/jquery/src/data/var/acceptData.js"></script>
    <script src="/js/dependencies/jquery/src/data/var/dataPriv.js"></script>
    <script src="/js/dependencies/jquery/src/data/var/dataUser.js"></script>
    <script src="/js/dependencies/jquery/src/deferred.js"></script>
    <script src="/js/dependencies/jquery/src/deprecated.js"></script>
    <script src="/js/dependencies/jquery/src/dimensions.js"></script>
    <script src="/js/dependencies/jquery/src/effects.js"></script>
    <script src="/js/dependencies/jquery/src/effects/Tween.js"></script>
    <script src="/js/dependencies/jquery/src/effects/animatedSelector.js"></script>
    <script src="/js/dependencies/jquery/src/event.js"></script>
    <script src="/js/dependencies/jquery/src/event/ajax.js"></script>
    <script src="/js/dependencies/jquery/src/event/alias.js"></script>
    <script src="/js/dependencies/jquery/src/event/focusin.js"></script>
    <script src="/js/dependencies/jquery/src/event/support.js"></script>
    <script src="/js/dependencies/jquery/src/event/trigger.js"></script>
    <script src="/js/dependencies/jquery/src/exports/amd.js"></script>
    <script src="/js/dependencies/jquery/src/exports/global.js"></script>
    <script src="/js/dependencies/jquery/src/intro.js"></script>
    <script src="/js/dependencies/jquery/src/jquery.js"></script>
    <script src="/js/dependencies/jquery/src/manipulation.js"></script>
    <script src="/js/dependencies/jquery/src/manipulation/_evalUrl.js"></script>
    <script src="/js/dependencies/jquery/src/manipulation/buildFragment.js"></script>
    <script src="/js/dependencies/jquery/src/manipulation/getAll.js"></script>
    <script src="/js/dependencies/jquery/src/manipulation/setGlobalEval.js"></script>
    <script src="/js/dependencies/jquery/src/manipulation/support.js"></script>
    <script src="/js/dependencies/jquery/src/manipulation/var/rcheckableType.js"></script>
    <script src="/js/dependencies/jquery/src/manipulation/var/rscriptType.js"></script>
    <script src="/js/dependencies/jquery/src/manipulation/var/rtagName.js"></script>
    <script src="/js/dependencies/jquery/src/manipulation/wrapMap.js"></script>
    <script src="/js/dependencies/jquery/src/offset.js"></script>
    <script src="/js/dependencies/jquery/src/outro.js"></script>
    <script src="/js/dependencies/jquery/src/queue.js"></script>
    <script src="/js/dependencies/jquery/src/queue/delay.js"></script>
    <script src="/js/dependencies/jquery/src/selector-native.js"></script>
    <script src="/js/dependencies/jquery/src/selector-sizzle.js"></script>
    <script src="/js/dependencies/jquery/src/selector.js"></script>
    <script src="/js/dependencies/jquery/src/serialize.js"></script>
    <script src="/js/dependencies/jquery/src/traversing.js"></script>
    <script src="/js/dependencies/jquery/src/traversing/findFilter.js"></script>
    <script src="/js/dependencies/jquery/src/traversing/var/dir.js"></script>
    <script src="/js/dependencies/jquery/src/traversing/var/rneedsContext.js"></script>
    <script src="/js/dependencies/jquery/src/traversing/var/siblings.js"></script>
    <script src="/js/dependencies/jquery/src/var/arr.js"></script>
    <script src="/js/dependencies/jquery/src/var/class2type.js"></script>
    <script src="/js/dependencies/jquery/src/var/concat.js"></script>
    <script src="/js/dependencies/jquery/src/var/document.js"></script>
    <script src="/js/dependencies/jquery/src/var/documentElement.js"></script>
    <script src="/js/dependencies/jquery/src/var/hasOwn.js"></script>
    <script src="/js/dependencies/jquery/src/var/indexOf.js"></script>
    <script src="/js/dependencies/jquery/src/var/pnum.js"></script>
    <script src="/js/dependencies/jquery/src/var/push.js"></script>
    <script src="/js/dependencies/jquery/src/var/rcssNum.js"></script>
    <script src="/js/dependencies/jquery/src/var/rnotwhite.js"></script>
    <script src="/js/dependencies/jquery/src/var/slice.js"></script>
    <script src="/js/dependencies/jquery/src/var/support.js"></script>
    <script src="/js/dependencies/jquery/src/var/toString.js"></script>
    <script src="/js/dependencies/jquery/src/wrap.js"></script>
    <script src="/js/dependencies/jquery/test/data/badcall.js"></script>
    <script src="/js/dependencies/jquery/test/data/badjson.js"></script>
    <script src="/js/dependencies/jquery/test/data/jquery-1.9.1.js"></script>
    <script src="/js/dependencies/jquery/test/data/json_obj.js"></script>
    <script src="/js/dependencies/jquery/test/data/readywaitasset.js"></script>
    <script src="/js/dependencies/jquery/test/data/readywaitloader.js"></script>
    <script src="/js/dependencies/jquery/test/data/support/csp.js"></script>
    <script src="/js/dependencies/jquery/test/data/support/getComputedSupport.js"></script>
    <script src="/js/dependencies/jquery/test/data/testinit.js"></script>
    <script src="/js/dependencies/jquery/test/data/testrunner.js"></script>
    <script src="/js/dependencies/jquery/test/integration/data/gh-1764-fullscreen.js"></script>
    <script src="/js/dependencies/jquery/test/jquery.js"></script>
    <script src="/js/dependencies/jquery/test/node_smoke_tests/document_missing.js"></script>
    <script src="/js/dependencies/jquery/test/node_smoke_tests/document_passed.js"></script>
    <script src="/js/dependencies/jquery/test/node_smoke_tests/document_present_originally.js"></script>
    <script src="/js/dependencies/jquery/test/node_smoke_tests/iterable_with_native_symbol.js"></script>
    <script src="/js/dependencies/jquery/test/node_smoke_tests/iterable_with_symbol_polyfill.js"></script>
    <script src="/js/dependencies/jquery/test/node_smoke_tests/lib/ensure_global_not_created.js"></script>
    <script src="/js/dependencies/jquery/test/node_smoke_tests/lib/ensure_iterability_es6.js"></script>
    <script src="/js/dependencies/jquery/test/node_smoke_tests/lib/ensure_jquery.js"></script>
    <script src="/js/dependencies/jquery/test/promises_aplus_adapter.js"></script>
    <script src="/js/dependencies/jquery/test/unit/ajax.js"></script>
    <script src="/js/dependencies/jquery/test/unit/attributes.js"></script>
    <script src="/js/dependencies/jquery/test/unit/basic.js"></script>
    <script src="/js/dependencies/jquery/test/unit/callbacks.js"></script>
    <script src="/js/dependencies/jquery/test/unit/core.js"></script>
    <script src="/js/dependencies/jquery/test/unit/css.js"></script>
    <script src="/js/dependencies/jquery/test/unit/data.js"></script>
    <script src="/js/dependencies/jquery/test/unit/deferred.js"></script>
    <script src="/js/dependencies/jquery/test/unit/deprecated.js"></script>
    <script src="/js/dependencies/jquery/test/unit/dimensions.js"></script>
    <script src="/js/dependencies/jquery/test/unit/effects.js"></script>
    <script src="/js/dependencies/jquery/test/unit/event.js"></script>
    <script src="/js/dependencies/jquery/test/unit/exports.js"></script>
    <script src="/js/dependencies/jquery/test/unit/manipulation.js"></script>
    <script src="/js/dependencies/jquery/test/unit/offset.js"></script>
    <script src="/js/dependencies/jquery/test/unit/queue.js"></script>
    <script src="/js/dependencies/jquery/test/unit/ready.js"></script>
    <script src="/js/dependencies/jquery/test/unit/selector.js"></script>
    <script src="/js/dependencies/jquery/test/unit/serialize.js"></script>
    <script src="/js/dependencies/jquery/test/unit/support.js"></script>
    <script src="/js/dependencies/jquery/test/unit/traversing.js"></script>
    <script src="/js/dependencies/jquery/test/unit/wrap.js"></script>
    <script src="/js/dependencies/materialize/bin/materialize.js"></script>
    <script src="/js/dependencies/materialize/dist/js/materialize.js"></script>
    <script src="/js/dependencies/materialize/dist/js/materialize.min.js"></script>
    <script src="/js/dependencies/materialize/extras/noUiSlider/nouislider.js"></script>
    <script src="/js/dependencies/materialize/extras/noUiSlider/nouislider.min.js"></script>
    <script src="/js/dependencies/materialize/js/animation.js"></script>
    <script src="/js/dependencies/materialize/js/buttons.js"></script>
    <script src="/js/dependencies/materialize/js/cards.js"></script>
    <script src="/js/dependencies/materialize/js/carousel.js"></script>
    <script src="/js/dependencies/materialize/js/character_counter.js"></script>
    <script src="/js/dependencies/materialize/js/chips.js"></script>
    <script src="/js/dependencies/materialize/js/collapsible.js"></script>
    <script src="/js/dependencies/materialize/js/date_picker/picker.date.js"></script>
    <script src="/js/dependencies/materialize/js/date_picker/picker.js"></script>
    <script src="/js/dependencies/materialize/js/dropdown.js"></script>
    <script src="/js/dependencies/materialize/js/forms.js"></script>
    <script src="/js/dependencies/materialize/js/global.js"></script>
    <script src="/js/dependencies/materialize/js/hammer.min.js"></script>
    <script src="/js/dependencies/materialize/js/initial.js"></script>
    <script src="/js/dependencies/materialize/js/jquery.easing.1.3.js"></script>
    <script src="/js/dependencies/materialize/js/jquery.hammer.js"></script>
    <script src="/js/dependencies/materialize/js/jquery.timeago.min.js"></script>
    <script src="/js/dependencies/materialize/js/leanModal.js"></script>
    <script src="/js/dependencies/materialize/js/materialbox.js"></script>
    <script src="/js/dependencies/materialize/js/parallax.js"></script>
    <script src="/js/dependencies/materialize/js/pushpin.js"></script>
    <script src="/js/dependencies/materialize/js/scrollFire.js"></script>
    <script src="/js/dependencies/materialize/js/scrollspy.js"></script>
    <script src="/js/dependencies/materialize/js/sideNav.js"></script>
    <script src="/js/dependencies/materialize/js/slider.js"></script>
    <script src="/js/dependencies/materialize/js/tabs.js"></script>
    <script src="/js/dependencies/materialize/js/toasts.js"></script>
    <script src="/js/dependencies/materialize/js/tooltip.js"></script>
    <script src="/js/dependencies/materialize/js/transitions.js"></script>
    <script src="/js/dependencies/materialize/js/velocity.min.js"></script>
    <script src="/js/dependencies/materialize/js/waves.js"></script>
    <script src="/js/dependencies/materialize/package.js"></script>
    <script src="/js/dependencies/materialize/templates/masonry-template/js/init.js"></script>
    <script src="/js/dependencies/materialize/templates/masonry-template/js/masonry.pkgd.min.js"></script>
    <script src="/js/dependencies/materialize/templates/parallax-template/js/init.js"></script>
    <script src="/js/dependencies/materialize/templates/starter-template/js/init.js"></script>
    <script src="/js/dependencies/materialize/tests/spec/cards/cardsSpec.js"></script>
    <script src="/js/dependencies/materialize/tests/spec/collapsible/collapsibleSpec.js"></script>
    <script src="/js/dependencies/materialize/tests/spec/helper.js"></script>
    <script src="/js/dependencies/materialize/tests/spec/select/selectSpec.js"></script>
    <script src="/js/dependencies/materialize/tests/spec/tabs/tabsSpec.js"></script>
    <script src="/js/dependencies/materialize/tests/spec/toast/toastSpec.js"></script>
    <script src="/js/dependencies/materialize/tests/spec/tooltip/tooltipSpec.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
